<div class="row">
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"
      >Welcome {{ userName }}.</a
    >
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <span class="user-profile" (click)="getProfileDetails()">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </span>
        <button class="nav-link" (click)="doLogout()" class="btn btn-secondary">
          <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
        </button>
      </li>
    </ul>
  </nav>
</div>
